{% extends "layout.html" %} {% block content %}
<h1> <a href="/" style="text-decoration: none;">&lt;</a> {{ title }}</h1>    <pre>

{{code | safe }}

<table class="table table-striped">
    <thead>
        <tr>
         {% for item in table_head %} 
            <th>{{ item['name'] }}</th> 
         {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for item in row %} 
                    <td>{{ item }}</td> 
                {% endfor %} 
            </tr>
         {% endfor %}
    </tbody>
</table>
{% endblock content %}